<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <title>registration success</title>
  </head>
  <body>
      <div class="jumbotron jumbotron" style="background-color:orange;">
        <div class="container  text-center">

            <img class="card-img" src="/static/img/sec1.png" alt="Card image cap">
            <h1>Saveetha Engineering College</h1>
            <img class="card-img-top" src="/static/img/crowd.jpg" alt="Card image cap">
        </div>
    </div>

       <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Your registration is success</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/home/"class="btn btn-primary btn-lg" role="button" aria-pressed="true">Go back to Home</a>
            </div>
        </div>
    </div>
</div>

      </body>
</html>